nav.navbar.navbar-default.custom-header{
  margin-bottom:0px;
}

div.jumbotron{
  background:url('../../assets2/img/pic38.jpg') no-repeat center;
  background-attachment:fixed;
  background-size:cover;
  height:300px;
}

h1.text-left.text-info{
  color:#fff;
  font-family:Quicksand;
  font-size:35px;
  margin-left:20px;
}

p{
}

p.grey{
}

p.grey{
  background:rgba(128,128,128,0.13);
  padding:4px;
  font-family:Quicksand;
}

p.p2{
  font-family:Quicksand;
  background:rgba(128,128,128,0.09);
}

h2.media-heading{
  background:rgba(128,128,128,0.78);
  padding:6px;
}

img.media-object{
  margin:4px;
}

form.form-horizontal.custom-form{
  background:rgba(250,251,243,0.68);
}

div.col-md-8.col-md-offset-2{
  background:rgba(128,128,128,0.47);
  background-size:cover;
}

div.row.register-form{
  background:url('../../assets2/img/pic36.jpg') no-repeat center;
  background-size:cover;
  background-attachment:fixed;
}

div.col-sm-6.input-column{
  background:rgba(128,128,128,0.32);
}

label{
}

h2.media-heading{
  background:rgba(128,128,128,0.39);
}

